[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "LFDR.MLE"]
	path = LFDR.MLE
	url = https://github.com/cran/LFDR.MLE
	shallow = true
	registered = true
